.bestelKnop {
    position: relative;
    top: 255px;
}

.cart {
    margin: 0 auto;
}

.subtotalen {
    float: left;
}

.actionBtn {
    height: 40px;
    width: 40px;
}

.inlogStatus {
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 50px;
}

.reviews {
    margin: 50px 0;
    padding: 20px;
    background-color: rgba(35, 40, 47, 0.8);
    border: 1px solid white;
}

.customer-review {
    margin: 20px;
    padding: 10px;
    background-color: #23232F;
}

.review-datum {
    font-weight: bold;
}

.review-naam {
    font-weight: bold;
}

.place-review {
    bottom: 300px;
    margin: 50px 0;
    padding: 20px;
    background-color: rgba(35, 40, 47, 0.8);
    border: 1px solid white;
}

.starIcon {
    padding-bottom: 10px;
    font-size: 1.4em;
}

.thumbIcon {
    float: right;
    font-size: 2em;
    padding-bottom: 10px;
}

.inputType {
    width: 15px !important;
    height: 15px !important;
}

.header-nav {
    position: fixed;
    top: 0;
    background-color: rgb(35, 35, 47);
    width: 100%;
    min-height: 200px;
    z-index: 1;
    border-bottom: 1px solid rgb(36, 41, 143);
}

.header-nav a {
    font-size: 1.2em;
}

.klantGegevensInput {
    padding: 0 10px;
    color: white;
    width: 90%;
    float: left;
    border-radius: 5px;
    outline: none;

}

.klantGegevensInputWrap {
    margin: auto auto;
    height: 50px;
    border: 1px solid white;
}

.labelInput {
    width: 700px;
}

.iconWW {
    padding: 15px;
    float: right
}