.bestelKnop {
    position: relative;
    top: 255px;
}

.cart {
    margin: 0 auto;
}

.subtotalen {
    float: left;
}

.actionBtn {
    height: 40px;
    width: 40px;
}

.inlogStatus {
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 50px;
}

.reviews {
    margin: 50px 0;
    padding: 20px;
    background-color: rgba(35, 40, 47, 0.8);
    border: 1px solid white;
}

.customer-review {
    margin: 20px;
    padding: 10px;
    background-color: #23232F;
    border: 1px solid white;
}

.review-datum {
    font-weight: bold;
}

.review-naam {
    font-weight: bold;
}